<section id="todoapp" ng-controller="MainCtrl as todo">
  <ng-view></ng-view>
  <header id="header">
    <h1>SIMPLE TODO LISTS</h1>
    <h4>FROM RUBY GARAGE</h4>
  </header>

  <section id="main" class="main">
    <ul id="todo-list">
      <li ng-repeat="project in todo.projects">
        <div class="view">
          <label>{{project.name}}</label>
        </div>
      </li>
    </ul>
  </section>

  <form id="todo-form" ng-submit="todo.addProject()">
    <div class="form-group">
      <input
      type="text"
      id="new-todo"
      placeholder="Start typing here to create a new Todo list..." 
      ng-model="todo.project.name"></input>
    </div>
    <button type="submit" class="btn btn-primary">Add TODO List</button>
  </form>

</section>
